.calendario-semanal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dia-slots {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.slot-row {
  display: contents;
}

.hora-cell {
  display: flex;
  padding: 12px;
  font-size: 0.85rem;
}

.estado-cell {
  padding: 12px;
  height: 65px;
}

.disponibilidad {
  text-align: center;
  color: darkred;
  font-size: 0.8rem;
}

.hora-container {
  display: none;
}

@media (min-width: 978px) {
  .calendario-semanal {
    display: grid;
    grid-template-columns: 100px repeat(6, minmax(90px, 1fr));
    grid-template-rows: auto;
    gap: 0px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    min-width: 750px;
  }

  .hora-container {
    display: block;
  }

  .hora-container .hora-cell {
    padding: 22.3px 0px;
  }

  .dia-slots {
    display: contents;
  }

  .dia-container .hora-cell {
    display: none;
  }
}